<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Banking Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous"/>
</head>
<body>

    <div style="padding:1em;" class="container">
        <div th:replace="fragments/navs ::topnav">
        </div>
        <div class="row mt-5">
            <div class="col-3 bg-light shadow p-3 mb-5 mr-3 ml-5">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dapibus ac facilisis in
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Morbi leo risus
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                </ul>

             </div>
            <div class="col-8 bg-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquid consectetur consequuntur culpa dolor dolores ea eaque earum enim eos esse excepturi facere facilis fugiat fugit in incidunt iste laboriosam maiores provident qui quisquam quod repellat repellendus rerum, suscipit ullam unde ut vel. Blanditiis distinctio, eos eum ex id incidunt ipsam laudantium molestias officiis possimus, suscipit, ullam vero voluptatem? Architecto aut dolor doloribus modi nihil possimus sint temporibus totam vitae? Ab aliquam amet architecto, consequuntur, corporis cumque debitis deleniti dignissimos distinctio dolor dolores enim ex excepturi illo incidunt iste itaque minus nobis non nulla numquam perspiciatis, placeat provident quas qui quis quisquam quo quod quos reiciendis repudiandae sed sequi sunt temporibus ullam ut voluptatibus! Eveniet nihil non obcaecati quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquid consectetur consequuntur culpa dolor dolores ea eaque earum enim eos esse excepturi facere facilis fugiat fugit in incidunt iste laboriosam maiores provident qui quisquam quod repellat repellendus rerum, suscipit ullam unde ut vel. Blanditiis distinctio, eos eum ex id incidunt ipsam laudantium molestias officiis possimus, suscipit, ullam vero voluptatem? Architecto aut dolor doloribus modi nihil possimus sint temporibus totam vitae? Ab aliquam amet architecto, consequuntur, corporis cumque debitis deleniti dignissimos distinctio dolor dolores enim ex excepturi illo incidunt iste itaque minus nobis non nulla numquam perspiciatis, placeat provident quas qui quis quisquam quo quod quos reiciendis repudiandae sed sequi sunt temporibus ullam ut voluptatibus! Eveniet nihil non obcaecati quisquam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquid consectetur consequuntur culpa dolor dolores ea eaque earum enim eos esse excepturi facere facilis fugiat fugit in incidunt iste laboriosam maiores provident qui quisquam quod repellat repellendus rerum, suscipit ullam unde ut vel. Blanditiis distinctio, eos eum ex id incidunt ipsam laudantium molestias officiis possimus, suscipit, ullam vero voluptatem? Architecto aut dolor doloribus modi nihil possimus sint temporibus totam vitae? Ab aliquam amet architecto, consequuntur, corporis cumque debitis deleniti dignissimos distinctio dolor dolores enim ex excepturi illo incidunt iste itaque minus nobis non nulla numquam perspiciatis, placeat provident quas qui quis quisquam quo quod quos reiciendis repudiandae sed sequi sunt temporibus ullam ut voluptatibus! Eveniet nihil non obcaecati quisquam.

            </div>
        </div>
    </div>

</body>
</html>