<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Banking Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous"/>
</head>
<body>

<div style="padding:1em;" class="container">
    <div th:replace="fragments/navs ::topnav">
    </div>
    <div class="row mt-5">
        <div class="col-3 bg-light shadow p-3 mb-5 mr-3 ml-5">
            <div th:replace="fragments/navs ::sidenav">
            </div>

        </div>
        <div class="col-8 bg-white">
            <form action="">
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Default input</label>
                    <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
                </div>

                <div class="form-group">
                    <label class="col-form-label col-form-label-sm" for="inputSmall">Small input</label>
                    <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
                </div>
                <button type="button" class="btn btn-danger btn-sm">save</button>
                <button type="submit" class="btn btn-succes btn-sm">cancel</button>
            </form>

        </div>
    </div>
</div>

</body>
</html>