<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Banking Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous"/>

</head>
<body>

<div style="padding:1em;" class="container">
    <div th:replace="fragments/navs ::topnav">
    </div>
    <div class="row mt-5">
        <div class="col-3 bg-light shadow p-3 mb-5 mr-3 ml-5">
            <div th:replace="fragments/navs ::sidenav">
            </div>


        </div>
        <div class="col-7 bg-white">
            <h2 class="mb-4">Account Types in the database
                <button type="button" class="btn btn-danger btn-lg float-right" data-toggle="modal" data-target="#myModal">Add New Type</button>
            </h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Savings
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Checking
                    <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Retirement
                    <span class="badge badge-primary badge-pill">1</span>
                </li>
            </ul>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Account Type</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline" id="newAccountTypeForm" method="post" action="#" >
                                <input type="hidden" name="bookId"/>

                                <div class="form-row">
                                    <div class="col">
                                        <label class="col-form-label mr-3" for="inputDefault">Account Type Name</label>

                                    </div>
                                    <div class="col">

                                        <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
                                    </div>

                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>

</html>